<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tryanimation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TryAnimation">
        <activity
            android:name=".ui.kl_basic.chapter_10.ui.DetailFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_10.ui.ListFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_10.DescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_10.Chapter10MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_9.TrialLifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_9.OnPauseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_9.Chapter9MainActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_8.MyBiodataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_8.Chapter8MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_7.Chapter7MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_6.MyCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_6.Chapter6MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_5.Chapter5MainActivity"
            android:exported="false"
            android:theme="@style/ThemeChapter5" />
        <activity
            android:name=".ui.kl_basic.chapter_4.Chapter4MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.animation_one.AnimationOneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>