<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tryanimation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TryAnimation">
        <activity
            android:name=".TryDatePickerActivity"
            android:exported="false" />
        <activity
            android:name=".try_chat_app.TryChatActivity"
            android:exported="false"
            android:theme="@style/ThemeForChat" />
        <activity
            android:name=".TryNavigationComponentActivity"
            android:exported="false" />
        <activity
            android:name=".TryScanQRActivity"
            android:exported="false" />
        <activity
            android:name=".TryCenterViewActivity"
            android:exported="false" />
        <activity
            android:name=".CoordinatorActivity"
            android:exported="false" />
        <activity
            android:name=".SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MotionLayoutOneActivity"
            android:exported="false" />
        <activity
            android:name=".AnimationOneActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>