<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tryanimation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TryAnimation">
        <activity
            android:name=".ui.kl_basic.chapter_13.test_ui.gallery_and_camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_13.test_ui.gallery_and_camera.GalleryCameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_13.test_ui.contact.GetContactActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_13.ui.main.Chapter13MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_12.ui.list_friend.ListFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_12.ui.add_friend.AddFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_12.ui.saved_name.SavedNameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_12.ui.test_ui.test_db.InsertDatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_12.ui.test_ui.test_sp.SharedPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_12.ui.test_ui.test_db.RoomDatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_12.ui.main.Chapter12MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_11.Chapter11MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_10.ui.DetailFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_10.ui.ListFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_10.DescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_10.Chapter10MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_9.TrialLifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_9.OnPauseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_9.Chapter9MainActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_8.MyBiodataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_8.Chapter8MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_7.Chapter7MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_6.MyCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_6.Chapter6MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.kl_basic.chapter_5.Chapter5MainActivity"
            android:exported="false"
            android:theme="@style/ThemeChapter5" />
        <activity
            android:name=".ui.kl_basic.chapter_4.Chapter4MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.animation_one.AnimationOneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.tryanimation.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

    </application>

</manifest>